/* Main page */

.main-container {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;

}

/* PostsPage */

.container-post {
    margin: 50px;
}

.postsList {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.postItem {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid grey;
    color: grey
}

.postItem:hover {
    border: 1px solid #213547;
    color: #213547;
}

/* CreatePostPage */

.form-container {
    height: 100vh;
    margin: 1.5em 3em;
}

.post {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid grey;
    margin: 20px 50px;
}

.post-content {
    width: 80%;
}

.post-title {
    text-align: center;
}

.btn-container {
    display: flex;
    align-items: center;
}


/* OnePostPage */

.container-forOnePost,
.container-forDeletePost {
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.onePost-text {
    width: 50%;
    margin-bottom: 15px;
}

/* DeletePost */

.deletePost {
    width: 50%;
    margin-bottom: 20px; 
    padding: 10px;
    border: 1px dashed grey;
}

.container-forBtnDeletePost {
    width: 100px;
    display: flex;
    justify-content: space-between;
}