
.container {
    margin: 10rem 4rem 4rem 4rem;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.item {
    padding: 0 10px 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    border-radius: 20px;
    color: white
}

.priceAndbtn {
    display: flex;
    align-items: center;
}

.btn {
    margin-left: 10px;
}

.count {
    margin: 0 10px;
}

.btn-delete {
    margin-top: 10px;
    width: 120px;
    background-color: #f93838d9;
}