
.container {
  margin: 10rem 4rem 4rem 4rem;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.item {
  padding: 0 10px 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  border-radius: 20px;
  border: 1px solid grey;
  color: grey;
}

.title {
  color: #213547;
}

.title span {
  color: grey;
  padding-left: 20px;
}

.priceContainer {
  display: flex;
  align-items: center;
}

.count {
  margin: 0 10px;
  color: #213547;
}

.img {
  width: 300px;
  height: 230px;
}

.btnCount {
  width: 30px;
  background-color: #ebebeb;
}

.btn-delete {
  margin-top: 10px;
  width: 120px;
}

.btn-delete:hover {
  background-color: #f93838d9;
}