:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

a {
  font-weight: 500;
  color: white;
  text-decoration: inherit;
}

a:hover {
  color: #213547;
  transition: color .2s linear;
}

nav a.active {
  font-weight: bold;
  color: #213547;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #cacaca;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  width: 8rem;
  border-radius: 8px;
  border: none;
  padding: 5px 10px;
  font-weight: 600;
  background-color: #1a1a1a;
  cursor: pointer;
}

button:hover {
  background-color: #009688;
  color: white;
  transition: background-color .2s linear, color .2s linear;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  button {
    background-color: #f9f9f9;
  }
}
